.popup-box {
	display: none;
	position: absolute;
	z-index: 999999;
	bottom: 110%;
	left: 0;
	color: #fff;
	text-align: center;
	padding: 10px;
	width: 160px;
	background: #2382bc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
	cursor: auto;
}
.important_day
{
	height: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.popup-box .col1 {
	display: block;
	font-size: 14px;
	padding-bottom: 5px;
}
.popup-box .col2 {
	display: block;
	font-size: 12px;
	padding-bottom: 10px;
	border-bottom: 1px solid #1d6591;
}
.popup-box .col3 {
	display: block;
	font-size: 13px;
	padding-top: 10px;
	border-top: 1px solid #579fcc;
}
.popup-box .arrow {
	position: absolute;
	bottom: -20px;
	left: 20px;
	display: block;
	width: 22px;
	height: 20px;
	background: url(../images/style/arr2.png) 0 0 no-repeat;
}
.popup-close {
	position: absolute;
	z-index: 9999999;
	right: 5px;
	top: 0px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(../images/style/close.png) 50% 50% no-repeat;
}

.current_date {
	position: relative;
	padding-bottom: 20px;
	padding-top: 0;
	width: 820px;
}

.current_date span.today {display: inline-block;}
.current_date span.today a {display: block; padding: 0 10px; line-height: 30px; color: #fff; background: #B51F23;}
.current_date span.today a:hover {background: #B51F23;}
.current_date span.np-month, .current_date span.en-month {display: table-cell; float: right; padding: 0 10px; line-height: 30px; color: #fff; background: #b52024;}
.current_date span.np-month {border-right: 1px solid #fff;}
.current_date span.en-month {font-size: 90%;}
.current_date .dropdown {
	font-size: 12px;
    position: absolute;
    top: 0;
    left: 35%;
    text-align: center;
    width: 350px;
    margin-left: -105px;
}
.current_date .dropdown .prev,
.current_date .dropdown .next {
	position: absolute;
	top: 0;
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-indent: -9999px;
	border: 1px solid #E4E4E4;
}
.current_date .dropdown .prev {
	left: 0;
	background: url(../images/style/prev.png) 50% 50% no-repeat;
}
.current_date .dropdown .next {
	right: 0;
	background: url(../images/style/next.png) 50% 50% no-repeat;
}
.current_date .dropdown .prev:hover,
.current_date .dropdown .next:hover {
	background-color: #e4e4e4;
}

.current_date .dropdown select {
	color: #757575;
	font-size: 18px;
	/*width: 140px;*/
	height: 30px;
	line-height: 30px;
	padding: 0px 4px;
	border: 1px solid #E4E4E4;
	background: #F7F7F7;
	outline: none;
}

@media only screen and (max-width: 768px) {
	.current_date .dropdown select {
		width:100px;
	}
}

.current_date ul li {
	float: left;
	width: 50%;
}
.current_date ul li:last-child {
	text-align: right;
}

.calendar ul.dates li:nth-child(4n+7) .popup-box {
	left: 50%;
	margin-left: -90px;
}
.calendar ul.dates li:nth-child(4n+7) .popup-box .arrow {
	left: 50%;
	margin-left: -10px;
}

.calendar ul.dates li:nth-child(5n+7) .popup-box,
.calendar ul.dates li:nth-child(6n+7) .popup-box,
.calendar ul.dates li:nth-child(7n+7) .popup-box {
	left: auto;
	right: 0;
}
.calendar ul.dates li:nth-child(5n+7) .popup-box .arrow,
.calendar ul.dates li:nth-child(6n+7) .popup-box .arrow,
.calendar ul.dates li:nth-child(7n+7) .popup-box .arrow {
	left: auto;
	right: 20px;
}

.calendar ul.days.responsive {
	display: none;
}
.calendar ul.days {
	width: 820px;
	border-top: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
	border-bottom: 4px solid #ebebeb;
	background: #78909C;
}
.calendar ul.days li {
	font-size:12px;
	color: #fff;
	float: left;
	width: 117px;
	padding: 10px 0;
	text-align: center;
	border-right: 1px solid #ebebeb;
}
.calendar ul.dates {
	width: 822px;
	display: block;
	border-left: 2px solid #e5e5e5;
	background: #f6f6f6;
}
.calendar ul.dates li {
	position: relative;
	color: #666;
	font-size: 35px;
	float: left;
	width: 117px;
	height: 114px;
	text-align: center;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	cursor: pointer;
	background: #fff;
}
.calendar ul.dates li:hover,
.calendar ul.dates li.active,
.calendar ul.dates li.holiday:hover,
.calendar ul.dates li:hover:nth-child(7n+7),
.calendar ul.dates li:hover:nth-child(7n+1),
.calendar ul.dates li.active:nth-child(7n+7) {
	color: #fff!important;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	background:#01579B;
}

.calendar ul.dates li.active {
	color: #fff!important;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	background: #2E7D32;

}
.calendar ul.dates li.todayHoliday {
	color: #fff!important;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	background: #d10b15;

}


.calendar ul.dates li:nth-child(7n+7) {
	color: #d10b15 !important;
}

.calendar ul.dates li:nth-child(7n+1) {
	color: #d10b15 !important;
}

.calendar ul.dates li.disable span {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	opacity: 0.2;
}
.calendar ul.dates li.disable {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.calendar ul.dates li.holiday {
	color: #d10b15;
}
.calendar ul.dates li span.nep {
	width: 100%;
	position: relative;
	z-index: 96;
	line-height: 116px;
}
.calendar ul.dates li span.event {
	font-size: 13px;
	width: 100%;
	position: absolute;
	z-index: 99;
	left: 0;
	top: 3px;
	height: 44.8px;
	text-align: center;
	overflow: hidden;
	line-height: 15px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;

}
.calendar ul.dates li span.tithi {
	font-size: 12px;
	position: absolute;
	z-index: 98;
	left: 10px;
	bottom: 5px;
	line-height: 15px;
}
.calendar ul.dates li span.eng {
	font-size: 11px;
	position: absolute;
	z-index: 97;
	right: 10px;
	bottom: 5px;
	text-align: right;
	line-height: 15px;
}


@media only screen and (min-width: 960px) and (max-width: 1160px) {
	.current_date {width:694px;}
	.calendar ul.days li { font-size: 14px; }
	.calendar ul.days li span { font-size: 12px; }
	.calendar ul.days, .calendar ul.dates { width: 693px; }
	.calendar ul.days li, .calendar ul.dates li { width: 98px; }
	.calendar ul.dates li span.event { line-height: 15px; width: 96%; padding: 0 2%; }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.current_date {width:553px;}
	.calendar ul.days li { font-size: 14px; }
	.calendar ul.days li span { font-size: 12px; }
	.calendar ul.days, .calendar ul.dates { width: 553px; }
	.calendar ul.days li, .calendar ul.dates li { width: 78px; }
	.calendar ul.dates li span.event { line-height: 15px; width: 96%; padding: 0 2%; }
}

@media only screen and (max-width: 767px) {
	.current_date {width:294px; padding-bottom: 5px;}
	.current_date .dropdown {width: 100%; position: relative; left: 0; margin-left: 0; margin-bottom: 10px;}
	.calendar ul.days { display: none; }
	.calendar ul.days.responsive { display: block; }
	.calendar ul.days li { font-size: 13px; height: auto!important; padding: 5px 0; }
	.calendar ul.days li span { font-size: 12px; }
	.calendar ul.days, .calendar ul.dates { width: 294px; }
	.calendar ul.days li, .calendar ul.dates li { width: 41px; height: 41px; }
	.calendar ul.dates li span.nep { position: absolute; left: 0;
	 top: 10px; width: 100%; font-size: 16px; line-height: 10px; }
	 .calendar ul.dates li span.eng { bottom: 2px; }
	.calendar ul.dates li span.event,
	.calendar ul.dates li span.tithi {
		display: none;
	}
	.current_date ul li:first-child {width: 20%;}
	.current_date ul li:last-child {width: 80%;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.current_date {width:420px;}
	.calendar ul.days, .calendar ul.dates { width: 420px; }
	.calendar ul.days li, .calendar ul.dates li { width: 59px; height: 59px; }
	.current_date ul li:first-child {width: 30%;}
	.current_date ul li:last-child {width: 70%;}
}