navigation.overflow-hidden #pageslide {
	position: fixed;
}
.headerAction{
	display: flex;
	justify-content: center;
}
#navigation {
	font-family: 'Ek Mukta';
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	padding: 0;
	height: 50px;
	background: #fff;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: center;
}
#navigation .navigator {
	display: none;
	position: relative;
}
#navigation h1 {
	height: 35px;
	line-height: 35px;
	font-size: 1.5em;
	margin: 0;
}
#navigation h1 .headerTitle a {
	color: #b71c1c;
	height: 50px;
	line-height: 54px;
	font-size: 24px;
}
#navigation h1 a img {
	margin-bottom:7px;
}
#navigation ul#nav  {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width:100%;
	white-space: pre;
	margin-left: 35px;
}
#navigation ul#nav li {
	float: left;
	height: 50px;
	position: relative;
	padding: 0 10px;
}
#navigation ul#nav li a {
	color: #000;
	font-family: 'Ek Mukta',open_sansregular;
	font-weight: normal;
	font-size: 14px;
	line-height: 50px;
	text-decoration: none;
	display: block;
}


#navigation ul#nav li.active a,
#navigation ul#nav li:hover a {
	color: #747474;
	border-bottom: 2px solid #b71d1c;
}



/** RESPONSIVE BUTTON **/
.overflow-hidden {
	overflow: hidden;
}
.open {
	color: #fff;
	width: 45px;
	height: 45px;
	display: none;
	margin: 0;
	position: relative;
	z-index: 999;
	text-align: center;
}
#nav_btn .line1, #nav_btn .line2 {
	position: absolute;
	left: 17px;
	width: 16px;
	height: 2px;
	background: #000;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
#nav_btn .line1 { top: 20px; }
#nav_btn .line2 { top: 28px; }

#nav_btn.active .line1 {
	top: 24px;
	left: 16px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
#nav_btn.active .line2 {
	top: 24px;
	left: 16px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.overflow-hidden #pageslide {
	position: fixed;
}

@media screen and (max-width: 1300px){
	ul#nav li:nth-last-child(-n+3):not(.headerAction):not(#pageslide) {
		/* Your styles here */
		/* For example, changing the background color */
		display: none;
	}
	#pageslide ul#nav li{
		display: block !important;
	}
	.open {
		display: inline-block;
		width: 50px;
		height: 50px;
		top: 0;
		z-index: 99999;
	}
}
@media only screen and (max-width: 1160px) {
	#navigation{
		padding-top: 0 !important;
	}

	ul#nav li:nth-last-child(-n+4):not(.headerAction):not(#pageslide) {
		/* Your styles here */
		/* For example, changing the background color */
		display: none;
	}
	#pageslide ul#nav li{
		display: block !important;
	}
	#navigation {position: fixed; top: 0; width: 100%;}
	#navigation .container12 .column3 {width: 100%;}
	#navigation h1 {text-align: center;}

	#pageslide {
		width: 220px;
		height: 100%!important;
		overflow-x: scroll;
		background: #b71c1c;
		position: absolute;
		top: 0;
		left: 0;
		margin-right: 5px;
		z-index: 99999;
	}
	#pageslide #nav {
		background: none;
		padding: 0;
		height: auto;
	}
	#pageslide #nav li {
		list-style: none;
		background: none;
		width: 100%;
		padding: 0;
		border-bottom: 1px solid rgba(0,0,0,0.2);
		border-right: 0;
	}
	#pageslide #nav li a {
		color: #fff !important;
		display: block;
		padding: 0 10px;
		margin: 0;
		line-height: 40px;
	}
	#pageslide #nav li a:hover {
		color: #000;
		background: #FFF;
	}
	#pageslide #nav li ul {
		border-top: 1px solid #444;
		/*display: none;*/
	}
	#pageslide #nav li li a {
		color: #a4a4a4;
		font-weight: normal;
		text-transform: none;
		padding-left: 30px;
		background: url(../images/style/menu_bg.png) 0 100% no-repeat;
	}
	#pageslide #nav li li a:hover {
		background: url(../images/style/menu_bg_hover.png) 0 100% no-repeat;
	}
	#pageslide #nav li ul li:last-child {
		border-bottom: 0;
	}
	#pageslide #nav li li li a {
		font-weight: normal;
		text-transform: none;
		padding-left: 50px;
		background: url(../images/style/menu_bg.png) 20px 100% no-repeat;
	}
	#pageslide #nav li li li a:hover {
		background: url(../images/style/menu_bg_hover.png) 20px 100% no-repeat;
	}
}
@media only screen and (min-width: 960px) and (max-width: 1160px) {

}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	ul#nav li:nth-last-child(-n+5):not(.headerAction):not(#pageslide) {
		/* Your styles here */
		/* For example, changing the background color */
		display: none;
	}
	#pageslide ul#nav li{
		display: block !important;
	}
}

@media only screen and (max-width: 1000px) {
	ul#nav li:nth-last-child(-n+6):not(.headerAction):not(#pageslide) {
		display: none;
	}
	#pageslide ul#nav li{
		display: block !important;
	}
}
.engEditionDesktop{
	width: fit-content;
}
@media only screen and (max-width: 900px) {
	ul#nav li:nth-last-child(-n+8):not(.headerAction):not(#pageslide) {
		display: none;
	}
	#pageslide ul#nav li{
		display: block !important;
	}
	.headerAction{
		flex-direction: column;
	}

}
#logout-btn{
	display: none;
}
#top .container12{
	display: flex;
	justify-content: flex-start !important;
	align-items: center;
}
/* Mobile Landscape and Portrait */
@media only screen and (max-width: 767px) {
	#top .container12{
		display: grid;
		gap: 10px;
	}
	.hamroHeadig button{
		display: none;
	}
	ul#nav li {
		display: none;
	}
	#pageslide ul#nav li{
		display: block;
		color: white;
	}
	.headerWrapper{
		margin: 0 !important;
	}
	#top .container12{
		max-width: 515px !important;
	}
}


@media only screen and (max-width: 319px) {
}


.bodyLeft,.bodyRight,.header-banner{
	min-height: 65px;
}
